[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-prettier"]
	path = .vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/bundle/vim-autopep8"]
	path = .vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
